{
  "presets": ["D:/programas/Mendix/9.24.12.20495/modeler/tools/node/node_modules/metro-react-native-babel-preset"],
  "plugins": [
    [
      "D:/programas/Mendix/9.24.12.20495/modeler/tools/node/node_modules/babel-plugin-inline-import",
      {
        "extensions": [".svg"]
      }
    ]
  ]
}